@charset "UTF-8";
@import "reset";
@import "mediaquery";
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

$fontfam : "Black Han Sans";
$basecolor : #E19B50;
$ftfcolor : #666;

:root {
    --arrowdeg : 0deg;
}

body {
    header {
        .topmenu {
            width: 100%;
            height: 3vh;
            background: $basecolor;
            border-bottom: 1px solid lightblue;

            > ul {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: right;
                align-items: center;

                > li {
                    margin: 0px 10px;
                    text-align: center;

                    &:hover {
                    transform: scale(1.2);
                    transition: 0.3s;
                    }

                    > a {
                        font-size: 1rem;
                        color: #fff;
                    }
                }
            }
        }

        .menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid lightblue;

            .logo {
                margin-left: 10%;

                > img {
                    width: 5vw;
                }
            }

            .navbar {
                width: 50%;
                height: 100px;
                display: flex;
                align-items: flex-end;

                > ul {
                    width: 100%;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    > li {
                        height: 50px;
                        flex-grow: 1;
                        position: relative;
                        text-align: center;

                        > a {
                            color: $basecolor;
                            line-height: 50px;
                            font-size: 1.5rem;
                            font-family: $fontfam;
                            position: relative;

                            &::after {
                                content: "";
                                width: 0;
                                height: 5px;
                                left: 0;
                                bottom: -8px;
                                position: absolute;
                                border-radius: 20px;
                                background: lightcoral;
                                transition: 0.2s;
                            }
                        }

                        &:hover {
                            > a {
                                color: $basecolor;

                                &::after {
                                    width: 100%;
                                }
                            }

                            .submenu {
                                opacity: 1;
                                top: 100%;
                                visibility: visible;
                                transition: 0.3s;
                            }
                        }
                        .submenu {
                            position: absolute;
                            visibility: hidden;
                            width: 100%;
                            top: 100%;
                            opacity: 0;
                            z-index: 1;
                            background: #FFCA9B;
                            border-bottom-left-radius: 20px;
                            border-bottom-right-radius: 20px;

                            > li {
                                padding: 10px 0;

                                &:nth-last-child(1) {
                                    border-bottom-left-radius: 20px;
                                    border-bottom-right-radius: 20px;
                                }

                                &:hover {
                                    background: $basecolor;
                                    transition: 1s ease;

                                    > a {
                                        color: #fff;
                                    }
                                }

                                > a {
                                    font-family: $fontfam;
                                    font-size: 1.2rem;
                                }
                            }
                        }
                    }
                }
            }
            .search {
                margin: 0 20px 10px 0;
                width: 250px;
                align-self: flex-end;

                > form {
                    width: 100%;
                    position: relative;

                    > .search_text {
                        width: 200px;
                        height: 30px;
                        border-radius: 20px;
                        box-shadow: 0 0 0 3px$basecolor;
                        border: none;
                        outline: none;
                        padding: 10px;

                        &:focus::placeholder {
                            color: transparent;
                        }
                    }
                    
                    > .submit_img {
                        width: 1.5vw;
                        left: 85%;
                        top: 50%;
                        transform: translateY(-50%);
                        border: none;
                        background: none;
                        cursor: pointer;
                        position: absolute;
                    }
                }
            }
        }
    }
    figure {
        width: 100%;
        height: 30vh;

        > video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    section {
        width: 100%;
        height: 45vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border: 1px solid black;

        .notice {
            width: 20vw;
            height: 30vh;
            position: relative;
            border: 1px solid $basecolor;

            > table {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                border: 1px solid black;
                border-collapse: collapse;

                th {
                    padding: 20px 0;
                    text-align: left;
                    
                    > a {
                        color: $basecolor;
                        font-family: $fontfam;
                        font-size: 1.5rem;
                        letter-spacing: 10px;
                        padding: 0 10px;
                    }
                }
                td {
                    padding: 10px 0;
                    position: relative;
                    border: 1px solid red;

                    > a {
                        font-family: $fontfam;
                        padding: 0 10px;
                        color: #666;

                        &::after {
                            content: ">";
                            position: absolute;
                            top: 50%;
                            right: 10px;
                            transform: translateY(-50%);
                        }
                    }
                }
            }
        }
        .service {
            width: 20vw;
            height: 30vh;
            border: 1px solid $basecolor;
        }
    }
    footer {
        width: 100%;
        height: 11.8vh;
        clear: both;
        background-color: rgba(216, 216, 216, 0.787);

        .footerwrap {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
        
            .terms {
                width: 1000px;
                margin: 5px;

                > ul {
                    display: flex;
                    justify-content: center;

                    > li {
                        margin: 0 10px;
                        padding: 0px 10px;
                        border-radius: 20px;
                        background: $basecolor;
                        text-align: center;

                        > a {
                            font-size: 14px;
                            font-family: $fontfam;
                            color: #FFF;
                        }
                    }
                }
            }

            .address {
                text-align: center;

                > p {
                    color: $ftfcolor;
                    font-size: 14px;
                    font-family: $fontfam;
                }
            }

            .representative {
                > ul {
                    display: flex;
                    justify-content: center;

                    > li {
                        padding: 0px 10px;
                        border-left: 2px solid #666;
                        
                        &:nth-of-type(1){
                            padding-left: 0;
                            border: 0;
                        }

                        > p {
                            font-size: 14px;
                            font-family: $fontfam;
                            color: $ftfcolor;
                        }
                    }
                }
            }
            .num {
                > ul {
                    display: flex;
                    justify-content: center;

                    > li {
                        padding: 0 10px;
                        border-left: 2px solid #666;

                        &:nth-of-type(1) {
                            padding-left: 0;
                            border: 0;
                        }

                        > p {
                            font-size: 14px;
                            font-family: $fontfam;
                            color: $ftfcolor;
                        }
                    }
                }
            }
            .pagelink {
                position: absolute;
                top: 50%;
                right: 5%;
                transform: translateY(-50%);
                width: 250px;
                height: 3vh;
                text-align: center;
                background: #fff;
                border: 1px solid #666;
                border-radius: 20px;
                box-shadow: 2px 2px 5px;

                > .linkbtnlabel {
                    font-size: 16px;
                    font-family: $fontfam;
                    color: #666;
                    line-height: 3vh;
                    position: relative;
                    cursor: pointer;

                    &::after {
                        content: ">";
                        position: absolute;
                        right: -50px;
                        transform: rotate(0deg);
                        transition: all 0.5s;
                    }

                    &:checked ~ &::after {
                        transform:rotate(-90deg);
                    }
                }
                > ul {
                    visibility: hidden;
                    position: absolute;
                    width: 100%;
                    top: -300%;
                    border: 1px solid black;
                }
            }
        }
    }
}
